In [1]:
import pandas as pd

In [12]:
df = pd.read_excel("StarWars.xlsx")

In [20]:
df

,respondentID,seen,fan,gender,age_group,income,loc,yoda,princess_leia_organa
0,3292879998,да,да,М,18-29,NaN,Южно-Атлантический,очень нравится,очень нравится
1,3292879538,нет,NaN,М,18-29,0 - 24.999,Юго-Западный центральный,NaN,NaN
2,3292765271,да,нет,М,18-29,0 - 24.999,Северо-Западный центральный,не знаю такого персонажа,нравится
3,3292763116,да,да,М,18-29,100.000 - 149.999,Северо-Западный центральный,очень нравится,очень нравится
4,3292731220,да,да,М,18-29,100.000 - 149.999,Северо-Западный центральный,нравится,нравится
...,...,...,...,...,...,...,...,...,...
1181,3288388730,да,да,Ж,18-29,0 - 24.999,Северо-Восточный центральный,очень нравится,нравится
1182,3288378779,да,да,Ж,30-44,50.000 - 99.999,Горный,очень нравится,очень нравится
1183,3288375286,нет,NaN,Ж,30-44,50.000 - 99.999,Средне-Атлантический,NaN,NaN
1184,3288373068,да,да,Ж,45-60,100.000 - 149.999,Северо-Восточный центральный,очень нравится,очень нравится
1185,3288372923,да,нет,Ж,> 60,50.000 - 99.999,Тихоокеанский,очень не нравится,очень нравится

In [25]:
df.where((df['gender'] == 'М') & (df['fan'] == 'нет') & (df['age_group'] == '18-29'))['loc'].value_counts()

loc
Тихоокеанский                  8
Средне-Атлантический           5
Новая Англия                   3
Северо-Западный центральный    2
Южно-Атлантический             1
Горный                         1
Юго-Восточный центральный      1
Name: count, dtype: int64

In [28]:
df['loc'].value_counts()

loc
Северо-Восточный центральный    181
Тихоокеанский                   175
Южно-Атлантический              170
Средне-Атлантический            122
Юго-Западный центральный        110
Северо-Западный центральный      93
Горный                           79
Новая Англия                     75
Юго-Восточный центральный        38
Name: count, dtype: int64

In [32]:
df['yoda'].isna().sum()

360

In [33]:
df['princess_leia_organa'].unique()

array(['очень нравится', nan, 'нравится', 'не нравится',
       'отношусь нейтрально', 'очень не нравится',
       'не знаю такого персонажа'], dtype=object)

In [43]:
df.where((df['loc'] == 'Новая Англия') & (df['princess_leia_organa'] == 'очень нравится'))['loc'].count()

39

In [58]:
df[df.isna().sum(axis=1) == 9] df[df.isna().sum(axis=1) == 9]

Empty DataFrame
Columns: [respondentID, seen, fan, gender, age_group, income, loc, yoda, princess_leia_organa]
Index: []